/**	This is the css used for 22		**/
/*	Created on: 12th February 2015 	*/
/*	Author: Liching Yew 			*/
html{
	height: 100%;
}

h1,h2,p{
	font-family: 'Shadows Into Light Two', cursive;
}

h1{
	font-size: 72px;
}

/** loading screen **/
#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
	z-index: 10;
	top: 0px;
	width: 100%;
	height: 100%;
}

#load_screen > #loading{
	color:#fff;
	width: 50px;
	height: 50px;
	margin: 300px auto;
}

#load_screen i{
	font-size: 50px;
	color: #eee;
}


/** header **/

body{
	overflow-x: hidden;
	height: 100%;
}

header{
	overflow-y: hidden;
}

.fill {
	width: 110%;
	max-height: 100%;
}

header .header-img{
	width: 150px;
	height: 150px;
	position:relative;
	display: inline-block;
	-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

header img{
	width: 100%;
}

.header-img:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top: 0; 
    left: 0;
    background:rgba(231,120,117,0.6);
    opacity:1;
    transition: all 0.2s;
    -webkit-transition: all 0.5s;
}
.header-img:hover:after{
    opacity:0;
}

.header-img:hover{
	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1); /* Standard syntax */
    z-index: 2;
}

.header-text{
	padding: 100px;
	color:#eee;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

header p, footer p{
	font-size: 24px;
	margin-top: 72px;
}

header .fa-angle-double-down{
	font-size: 54px;
	position: absolute;
	bottom: 24px;
}


/** month **/

.hideme{
	opacity: 0;
}

.month{
	height: 400px;
	width: 100%;
	color: #767676;
	background-repeat: repeat;
}

.month h2{
	font-size: 48px;
	margin: 48px 0px 48px 48px;
}

.month p{
	font-size: 20px;
	margin-left: 48px;
	margin-right: 48px;
}

.month img{
	width: 100%;
	overflow: hidden;
}

.half{
	overflow: hidden;
	height: 400px;
	padding: 0px;
}

.jan-text{
	color: #414141;
}

.apr-text{
	color: #eee;
}

.jul-text{
	color: #ccc;
}

.sep-text{
	color: #774b23;
}

.dec-text{
	color: #957d66;
}

#jan .text{
	background-image: url("../assets/background/congruent_pentagon.png");
}

#feb .text{
	background-image: url("../assets/background/food.png");
}

#mar .text{
	background-image: url("../assets/background/shattered.png");
}

#apr .text{
	background-image: url("../assets/background/green_cup.png");
}

#may .text{
	background-image: url("../assets/background/school.png");
}

#jun .text{
	background-image: url("../assets/background/gplaypattern.png");
}

#jul .text{
	background-image: url("../assets/background/stardust.png");
}

#aug .text{
	background-image: url("../assets/background/tree_bark.png");
}

#sep .text{
	background-image: url("../assets/background/retina_wood_@2X.png");
}

#oct .text{
	background-image: url("../assets/background/old_wall.png");
}

#nov .text{
	background-image: url("../assets/background/brickwall.png");
    /** TODO: grey overlay **/
}

#dec .text{
	background-image: url("../assets/background/fabric_of_squares_gray.png");
	/** TODO: yellow overlay **/
}

/** footer **/
.footer-text{
	padding: 100px;
	color:#eee;
	width: 100%;
	height: 100%;
}

.footer-icon{
	position: absolute;
    bottom: 50px;
    width: 100%;
}

.footer-icon i{
	font-size: 25px;
	color:#eee;
	border: 3px solid #eee;
	border: 3px solid #eee;
	text-align: center;
	padding: 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	transition: 0.3s ease all;
}

.footer-icon .fa-facebook:hover{
	color: #eee;
	background-color: #3b5998;
	
}

.footer-icon .fa-github:hover{
	color: #eee;
	background-color: #816687;
}

.footer-icon .fa-instagram:hover{
	color: #eee;
	background-color: #517fa4;
}

.footer-icon .fa-pinterest-p:hover{
	color: #eee;
	background-color: #cb2027;
}

.footer-icon .fa-linkedin:hover{
	color: #eee;
	background-color: #007bb6;
}

footer {
	position: relative;
	height: 100%;
	overflow: hidden;
}

footer .footer-img{
	width: 150px;
	height: 150px;
	position: relative;
	display: inline-block;
}

footer img{
	width: 100%;
}

.footer-img:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top: 0; 
    left: 0;
    background:rgba(231,120,117,0.6);
    opacity:1;
    transition: all 0.2s;
    -webkit-transition: all 0.5s;
}

.footer-text{
	padding: 100px;
	color:#eee;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 15%;
}

/** Media Queries **/

@media screen and (max-width: 1106px) {

    .fill {
	width: 130%;
	max-height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.footer-text{
		padding-right: 24%;
	}

	.footer-icon{
		width: 84%;
	}
}

@media screen and (max-width: 1014px) {

	.header-text h1, .footer-text h1{
		font-size: 48px;
	}

	.month{
		height: 300px;
		width: 100%;
		color: #767676;
		background-repeat: repeat;
	}

	.month h2{
		font-size: 36px;
		margin: 36px 0px 36px 36px;
	}

	.month p{
		font-size: 18px;
		margin-left: 36px;
		margin-right: 36px;
	}

	.half{
		overflow: hidden;
		height: 300px;
		padding: 0px;
	} 
}
	

@media screen and (max-width: 764px) {
	.half{
		overflow: hidden;
		width: 100%;
		height: 300px;
		padding: 0px;
	} 

	.jan-text{
	color: #414141;
	}

	.apr-text{
		color: #eee;
	}

	.jul-text{
		color: #ccc;
	}

	.sep-text{
		color: #774b23;
	}

	.dec-text{
		color: #957d66;
	}


}

@media screen and (max-width: 360px) {
	.header-text{
		padding: 50px;
	}

	.footer-text{
		padding: 4%;
		padding-right: 28%;
	}

	.header-text p, .footer-text p{
		font-size: 20px;
	}

	.footer-icon .col-xs-offset-3{
		width: 4%;
	}
	
	.footer-icon div{
		width: 15%;
	}

	.month h2{
		margin: 36px 0px 24px 36px;
	}

	.month p{
		font-size: 16px;
	}

	.half{
		height: 288px;
	}

}